[Desktop Entry]
X-KDE-Library=ktexteditor_gocode
X-KDE-PluginKeyword=ktexteditor_gocode
X-KDE-PluginInfo-Author=Lucas Hermann Negri
X-KDE-PluginInfo-Email=lucashnegri@gmail.com
X-KDE-PluginInfo-Name=ktexteditorgocode
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://oproj.tuxfamily.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=false
Type=Service
ServiceTypes=KTextEditor/Plugin
Icon=kate
Name=Gocode
Comment=Provides autocompletion for the Go language by using Gocode
